<!DOCTYPE html>
<html>
<script src="/static/admin.js"></script>
<link rel="stylesheet" href="./static/default.css" type="text/css"/>
<body>

<div class="headerbar">SoTW Admin Page</div>
<div class="mainbody">

    <h1>Segment of the Week</h1>
    <div id="set_sotw_control">
        <div class="segment_input">
            Main Segment Strava ID or URL:
            <input type="text" onpaste="getSegmentDetails(this)" id="segment"/>&nbsp;&nbsp;&nbsp;
            <span id="segment_details"></span>
        </div>
        <div class="segment_input">
            Neutralised Segment Strava ID or URL:
            <input type="text" onpaste="getSegmentDetails(this)" id="neutral_segment_1"/>&nbsp;&nbsp;&nbsp;
            <span id="neutral_segment_1_details"></span>
        </div>
        <div class="segment_input">
            Neutralised Segment Strava ID or URL:
            <input type="text" onpaste="getSegmentDetails(this)" id="neutral_segment_2"/>&nbsp;&nbsp;&nbsp;
            <span id="neutral_segment_2_details"></span>
        </div>
        <div class="segment_input">
            Neutralised Segment Strava ID or URL:
            <input type="text" onpaste="getSegmentDetails(this)" id="neutral_segment_3"/>&nbsp;&nbsp;&nbsp;
            <span id="neutral_segment_3_details"></span>
        </div>
        <div id="set_sotw_status" class="status_message"></div>
        <button onclick="setsotw()" label="Set">Set</button>


    </div>


    <h1>Add Athlete</h1>
    <div id="add_athlete_control">
        Strava Athlete ID or URL: <input type="text" id="athlete" />
        <select id="division">
            {% for division in divisions|sort() %}
                <option value="{{ division }}">{{ divisions[division].name }}</option>
            {% endfor %}
        </select>
        <button onclick="addathlete()" label="Set">Set</button>
        <div id="add_athlete_status" class="status_message"></div>
    </div>


    <!-- {{ divisions }} -->

    <h1>Existing Athletes</h1>
    {% for division in divisions|sort() %}
    <h2>{{ divisions[division].name }}</h2>
    <table id="{{ division }}" border="1" cellpadding="8" cellspacing="0">
        <tr class="table_head">
            <th>Name</th>
            <th>ID</th>
            <th>Actions</th>
        </tr>
        {% for member in divisions[division].members|sort() %}
            <tr id="{{ member }}_row">
                <td><a href="https://www.strava.com/athletes/{{ member }}">{{ divisions[division].members[member].firstname }} {{ divisions[division].members[member].lastname }}</a></td>
                <td>{{ member }}</td>
                <td><button onclick="removeathlete('{{ member }}')" class="table_button">Remove</button></td>
            </tr>
        {% endfor %}
    </table>
    {% endfor %}

    <br />
    <a href="/logout">Logout</a>

</div>
</body>
</html>