<!DOCTYPE html>
<html>
<title>Segment Efforts</title>
<link rel="stylesheet" href="/static/default.css" type="text/css"/>
<script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock('f9dF4rSZNvgJhiRe1EFJsg1ymJlmih2k', 'albasotw.auth0.com', {
    auth: {
      redirectUrl: 'http://az-bcj-01.cloudapp.net/callback',
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
</script>

<body>

<div class="headerbar">Segment of the Week Efforts</div>
<div class="mainbody">

    {% for challenge in sotw_challenges %}
        {% if this_week[0] == challenge.year and this_week[1] == challenge.week_number %}
            <a href="https://www.strava.com/segments/{{ challenge.main_segment.id }}"><h1>{{ challenge.main_segment.name }}</h1></a><br />
            {{ (challenge.main_segment.distance / 1000)|round(1) }}km, {{ challenge.main_segment.total_elevation_gain }}m elevation<br />
        {% endif %}
    {% endfor %}

    <br />
    Select another week: <select id="result_set">
    {% for challenge in sotw_challenges %}
           <option value="{{ challenge.year }}/{{ challenge.week_number }}" {% if this_week[0] == challenge.year and this_week[1] == challenge.week_number %}selected{% endif %}>Week Commencing {{ challenge.week_commencing_formatted }}{% if challenge.main_segment %} - {{ challenge.main_segment.name }}{% endif %}</option>
    {% endfor %}
    </select><button id="open_result_set" onclick="location='/efforts/' + document.getElementById('result_set').value">Go</button>

    {{ results_table|safe }}

<br /><br />
    {% if user != None and user.user_metadata is defined and user.user_metadata['admin'] == 'true' %}
        Logged in as: {{ user.nickname }}<br />
        <a href="/admin">Admin Console</a><br />
        <a href="/logout">Log out</a><br />
    {% else %}
        <button onclick="lock.show();">Log in</button>
    {% endif %}

</div>
</body>
</html>

