<!DOCTYPE html>
<html>
<title>Segment Efforts</title>
<link rel="stylesheet" href="/static/default.css" type="text/css"/>
<script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock('f9dF4rSZNvgJhiRe1EFJsg1ymJlmih2k', 'albasotw.auth0.com', {
    auth: {
      redirectUrl: 'http://az-bcj-01.cloudapp.net/callback',
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
</script>

<body>

<div class="headerbar">Segment of the Week Efforts</div>
<div class="mainbody">

    {% if leagues != None %}
        {% for set in result_sets %}
            {% if this_week[0] == set.year and this_week[1] == set.week %}
                {% if set.segment %}
                    <a href="https://www.strava.com/segments/{{ set.segment.id }}"><h1>{{ set.segment.name }}</h1></a><br />
                    Distance (metres): {{ set.segment.distance }}<br />
                    Elevation Gain (metres): {{ set.segment.total_elevation_gain }}<br />
                {% else %}
                    <h1>No Segment Configured</h1>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <br />
    Select another week: <select id="result_set">
    {% for set in result_sets %}
        <option value="{{ set.year }}/{{ set.week }}" {% if this_week[0] == set.year and this_week[1] == set.week %}selected{% endif %}>{{ set.week_commencing }}, week {{ set.week }}{% if set.segment %} - {{ set.segment.name }}{% endif %}</option>
    {% endfor %}
    </select><button id="open_result_set" onclick="location='/efforts/' + document.getElementById('result_set').value">Go</button>


    {% if leagues != None %}
        {% for league in leagues|sort() %}
            <h1>{{ leagues[league].name }}</h1>
            <table border="1" cellpadding="8" cellspacing="0">
                <tr>
                    <th>Rank</th>
                    <th>Points</th>
                    <th>Name</th>
                    <!--th>Effort ID</th>
                    <th>Activity ID</th>
                    <th>Athlete ID</th-->
                    <th>Corrected Time</th>
                    <th>Neutralised Times</th>
                    <th>Elapsed Time</th>
                    <th>Pace (kph)</th>
                    <th>Heart Rate</th>
                    <th>Power</th>
                    <th>Start Date/Time</th>
                </tr>

                {% for athlete_id, result in leagues[league].results.items() %}
                    <tr> 
                        <td>{{ result.rank }}</td>
                        <td>{{ result.points }}</td>
                        <td>
                            <a href="https://www.strava.com/athletes/{{ result.athlete.id }}">{{ result.athlete['firstname'] }} {{ result.athlete['lastname'] }}</a>
                        </td> 
                        <td>{{ result.corrected_time_formatted }}</td>
                        <td>{{ result.neutralised_times_formatted }}</td>
                        <td>{{ result.elapsed_time_formatted }}</td>
                        <td>{{ result.pace_kph }}</td>
                        <td>{{ result.average_heartrate_formatted }}</td>
                         <td>{{ result.average_watts_formatted }}</td>
                         <td><a href="https://www.strava.com/activities/{{ result.activity.id }}#{{ result.id }}">{{ result.start_time_formatted }}</a></td>

                    </tr>
                {% endfor %}

            </table>
        {% endfor %}
    {% else %}
        <br />
        <br />
        There is no data available yet for this period.  Please ensure that a SoTW is configured for the selected week.
    {% endif %}

<br /><br />
    {% if user != None and user.user_metadata is defined and user.user_metadata['admin'] == 'true' %}
        Logged in as: {{ user.nickname }}<br />
        <a href="/admin">Admin Console</a><br />
        <a href="/logout">Log out</a><br />
    {% else %}
        <button onclick="lock.show();">Log in</button>
    {% endif %}

</div>
</body>
</html>

